* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

main {
 align-items: center;
 justify-content: center;
 display: flex;
 height: 100vw;
 border: 1px solid black;
 flex-direction: column;
}

main section {
 border: 1px solid black;
}

main h1 {
 font-weight: bold;
 color: blue;
}

form {
 display: flex;
 flex-direction: column;
 gap: 10px;
}